#projects {
	width: 100%;
	margin-left: 1.8rem;
}

#projects h3 {
	text-align: left;
}

.carousel {
	justify-content: flex-start;

	overflow-x: auto;
	overscroll-behavior-inline: contained;
}

.project-ctr {
	align-items: center;
	background-color: var(--main);
	color: white;
	margin: .5rem 1rem;
	border-radius: 10px;
	border: 1px solid var(--accent-text);
	width: 35rem;
}

.project-img-ctr {
	padding: 1rem 1rem 0rem 1rem;
}

.project-img {
	height: 15rem;
}

.project-info h5,
.project-info p,
.project-links {
	margin: .5rem;
}

.project-links a {
	font-size: .8rem;
	color: var(--accent-text)
}

.project-links a:hover {
	color: white;
}

.project-info {
	height: 100%;
	padding: 1rem;
	color: var(--light-text);
	justify-content: space-between;
}


.project-info h5 {
	font-weight: bold;
	font-size: 1.5rem;
}

.project-info p {
	font-weight: 300;
}

.project-footer {
	justify-content: flex-start;
	flex-wrap: wrap;
}

.project-footer * {
	font-size: .8rem;
	color: var(--accent-text);
}

.project-footer div {
	margin: .5rem;
}

.project-link {
	height: 2rem;
}

@media (max-width: 850px) {
	#projects {
		margin-left: 0rem;
	}

	.carousel {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow-x: auto;
	}

	.project-ctr {
		width: 20rem;
	}

	#projects h3 {
		text-align: center;
	}

	.project-img {
		height: 9rem;
	}
}

@media (min-width: 850px) {
	.project-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}