.landing h2 {
	text-align: center;
	padding-top: 8rem;
	margin: 1rem 1rem .2rem 0rem;
	font-size: 3rem;
	font-weight: 600;
}

.landing {
	align-items: flex-start;
}

.landing-links {
	width: 100%;
}

.landing a {
	padding: .5rem;
}

.landing a:hover {
	color: white;
}

.landing p {
	text-align: left;
	color: var(--main-text);
}

.typewriter {
	width: 100%;
	font-size: 1.8rem;
	color: var(--main-text);
}

.landing-links {
	margin-top: 1.5rem;
}

hr {
	width: 80%;
	align-self: center;
	margin-top: 7rem;
	color: var(--main-text);
}

@media (max-width: 800px) {
	.landing {
		align-items: center;
	}

	.typewriter,
	.landing-links {
		display: flex;
		justify-content: center;
	}
}