#skills {
	margin: 2rem 1rem;
}

.skill-ctr {
	flex-wrap: wrap;
	background-color: var(--main);
	border-radius: 10px;
	margin-top: .5rem;
}

.logo {
	height: 3rem;
	margin: 1rem;
}

/* .logo:hover {
	transform: translateY(-10px);
	transition: ease;
} */