.left {
	width: 100%;
	margin: 1rem;
	padding: .3rem;
	border-radius: 10px;
}

.left h3 {
	text-align: left;
}

.left div {
	padding: .3rem;
}

.left p {
	text-align: left;
	margin: .5rem;
	color: var(--main-text);
	font-size: 1.2rem;
}

.right {
	height: 100%;
	align-items: flex-start;
	margin-right: 1.5rem;
}

.self {
	height: 14rem;
	border-radius: 15px;
	margin-top: 2rem;
}

@media(max-width: 800px) {
	.about {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.left h3,
	.left p {
		text-align: center;
	}

	.left {
		padding: 1rem;
	}

	.self {
		height: 14rem;
	}
}