.contact-ctr {
	background-color: var(--main);
	margin-top: .5rem;
	flex-direction: column;
	align-items: center;
}

.left-contact,
.right-contact {
	padding: 1rem;
	font-size: 1rem;
}

form input,
form textarea {
	border: none;
	margin: .3rem 0rem;
	font-size: 1rem;
	padding: .2rem;
}

.contact-links {
	justify-content: space-evenly;
	margin-top: 1rem;
}


@media (max-width: 800px) {
	#contact {
		width: 90%;
	}
}

@media(min-width: 800px) {
	.contact-ctr {
		width: 50rem;
		flex-direction: row;
		align-items: flex-start;
	}

	.left-contact,
	.right-contact {
		width: 50%;
		height: 100%;
	}

	.left-contact {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}