:root {
  --white: #fff;
  --black: #000000;

  --main: rgb(28, 36, 46);
  --light-text: rgb(215, 237, 242);
  --main-text: rgb(146, 164, 168);
  --accent-text: rgb(230, 175, 175);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#root,
html,
body {
  height: 100%;
  max-width: 100vw;
  background-color: var(--main)
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--white);
}

h2, 
h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--light-text);
}

h3 {
	text-align: center;
	font-size: 2rem;
  margin: .8rem;
}

.highlight {
  color: var(--accent-text)
}
